@body-font-color: #e6e2e2;
@body-background-color: #32313b;

@body-link-color: #969292;

@body-font: Geneva, Tahoma, sans-serif;

@container-width: 80%;
@container-min-width: 40em;
@container-max-width: 80em;

@posts-max-width: 50em;

body {
    color: @body-font-color;
    font-family: @body-font;
    background-color: @body-background-color;
}

a {
    color: @body-link-color;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: @body-link-color;
}

h1,  h2 {
    font-variant: small-caps;
}

h2 {
    margin-top: .5em;
    margin-bottom: .5em;
}

img {
    max-width: 100%;
    height: auto;
}

// Container div for such content as is visible.
.container {
    width: @container-width;
    min-width: @container-min-width;
    max-width: @container-max-width;
    margin-right: auto;
    margin-left: auto;
}

// Site header.
.blog-name {
    h1 {
        text-align: center;
    }

    a {
        color: @body-font-color;
    }
}

// Where the posts live.
.posts {
    max-width: @posts-max-width;
    margin-left: auto;
    margin-right: auto;

    // When the sidebar is active, float left. 
    .sharing {
        float: left;
    }
}

// An individual post and its context. 
.post {
    padding-top: .5em;
    padding-left: 1em;
    padding-bottom: 1em;
    margin-bottom: 1.75em;
    
    .date-block {
        width: 15em;
        margin-left: auto;
        font-size: .75em;
    }

    .title {
    }

    .text {
        padding-top: .5em;
        padding-right: 1em;
    }
}

.sidebar {
    display: none;

    font-size: .9em;

    h2 {
        margin-top: 0;
        margin-bottom: 0;
    }

    ul {
        list-style-type: none;
        margin-top: .25em;
        margin-bottom: .5em;
    }

    a {
        font-weight: normal;
    }

    // Share container with div.posts.
    .sharing {
        display: block; 
    }
}